{%if popup%}
<script>
    alert('{{popup}}')
</script>
{%endif%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>
    
</head>
<body>
    <form action="/postsignup/" method="POST">
        {% csrf_token %}
        Email:
        <input type="email" name="email"><br><br>
        Password:
        <input type="password" name="pass"><br><br>
        Confirm Password:
        <input type="password" name="confpass"><br><br>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>